<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <title>Profile</title>
</head>
<body>
<div class="container">
    <header class="mb-2">
        <nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm rounded">
            <a class="navbar-brand" href="#">Learn List</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Профіль</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Пошук" aria-label="Search">
                    <button class="btn my-2 my-sm-0" type="submit">Пошук</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="row">
        <div class="col-md-6 ">
            <div class="card flex-md-row mb-4 shadow-lg">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">Назва</a>
                    </h3>
                    <div class="mb-1 text-muted">Дата</div>
                    <p class="card-text mb-auto">
                        "Тут повинен бути опис поточного плейлісту"
                    </p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                </div>
                <img class="card-image-right flex-auto d-none d-lg-block" src="file:///D:/Git/Learn-List/onlinelist/playlist/images/no-photo.jpg" alt="Зображення відсутнє" style="width: 200px; height: 250px;">
            </div>
        </div>


        <div class="col-md-6 ">
            <div>
                <div class="list-group">

                    <div class="list-group-item">
                        <a class="" href="#multiCollapse1" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="multiCollapse1">
                            1. Part 1
                        </a>
                        <div class="collapse multi-collapse" id="multiCollapse1">
                            <small class="text-muted">Опис поточної частини, що відображається при її розгорненні</small>
                            <a class="dropdown-item" href="#">1. Action.<br>
                                <small class="text-muted">Опис поточних даних</small>
                            </a>
                            <a class="dropdown-item" href="#">2. Another action</a>
                            <a class="dropdown-item" href="#">3. Something else here</a>

                        </div>
                    </div>
                    <div class="list-group-item">
                        <a href="#multiCollapse2" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="multiCollapse2">
                            2. Part 2
                        </a>
                        <div class="collapse multi-collapse" id="multiCollapse2">
                            <a class="dropdown-item" href="#">1. Action</a>
                            <a class="dropdown-item" href="#">2. Another action</a>
                            <a class="dropdown-item" href="#">3. Something else here</a>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <a href="#multiCollapse3" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="multiCollapse3">
                            3. Part 3
                        </a>
                        <div class="collapse multi-collapse" id="multiCollapse3">
                            <a class="dropdown-item" href="#">1. Action</a>
                            <a class="dropdown-item" href="#">2. Another action</a>
                            <a class="dropdown-item" href="#">3. Something else here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</body>
</html>