<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'playlist/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <title>Profile</title>
</head>
<body>
<div class="container">
    <header class="mb-3">
        <nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm rounded">
            <a class="navbar-brand" href="/LearnList/">Learn List</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0" method="post">{% csrf_token %}
                    <input class="form-control mr-sm-2" type="search" placeholder="Пошук" aria-label="Search" name="searchName">
                    <button class="btn my-2 my-sm-0" type="submit" name="profile_search">Пошук</button>
                </form>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/LearnList/accessible/">Доступні плейлісти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/LearnList/user/{{ request.user.id }}">Профіль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout/">Вихід</a>
                </li>
            </ul>
        </nav>
    </header>
    {% if error_message %}
    <div class="alert red">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ error_message }}
    </div>
    {% endif %}
    <div class="row mb-2">
        <div class="col-md-7">
            <div class="card flex-md-row mb-4">
                <div class="card-image-left flex-auto d-none d-lg-block img-fluid" >
                    <div class="side crop">
                        <img class="img side-crop rounded" src="{% static 'playlist/images'%}/{{ user_picture.picture }}">
                    </div>
                </div>
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="mb-2">{{ user.username }}</h3>
                    <div class="mb-2">
                        <span class="text-muted">Ім`я: </span>
                        <span>{{ user.first_name }}</span>
                    </div>
                    <div class="mb-2">
                        <span class="text-muted">Прізвище: </span>
                        <span>{{ user.last_name }}</span>
                    </div>
                    <div class="mb-2">
                        <span class="text-muted">Email: </span>
                        <span>{{ user.email }}</span>
                    </div>
                    <div class="mb-2">
                        <span class="text-muted">Дата реєстрації: </span>
                        <span>{{ user.date_joined }}</span>
                    </div>
                </div>
                {% if user == request.user %}
                <div class="card-body d-flex justify-content-end align-items-end">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="collapse" data-target="#editUser" aria-controls="editUser" aria-expanded="false">
                        <i class="material-icons">edit</i>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
        {% if user == request.user %}
        <div class="col-md-5 collapse multi-collapse" id="editUser">
            <div class="col-md-12 mb-2">
                <ul class="nav nav-tabs "role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="data" aria-selected="true">Дані</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password" aria-selected="false">Пароль</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="public-tab">
                    <div class="d-flex flex-row justify-content-end align-items-start">
                        <form class="dropdown-item disabled" method="post">{% csrf_token %}
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Діючий пароль</span>
                                </div>
                                <input class="form-control" type="password" name="oldPassword" placeholder="Введіть пароль" required="" maxlength="40">
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Новий пароль</span>
                                </div>
                                <input class="form-control" type="password" name="newPassword" id="newPassword" placeholder="Введіть новий пароль" required="" maxlength="40">
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Новий пароль</span>
                                </div>
                                <input class="form-control" type="password" placeholder="Повторіть новий пароль" required="" maxlength="40" oninput="check(this)">
                            </div>
                            <button type="mb-2 submit" name="edit_password" class="btn btn-outline-secondary" >Зберегти</button>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="data" role="tabpanel" aria-labelledby="public-tab">
                    <div class="d-flex flex-row justify-content-end align-items-start">
                        <form class="dropdown-item disabled" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Логін</span>
                                </div>
                                <input class="form-control" type="text" name="editLogin" placeholder="Логін" required="" maxlength="40" value="{{ user.username }}">
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Ім'я</span>
                                </div>
                                <input class="form-control" type="text" name="editLastName" placeholder="Ім'я" maxlength="40" value="{{ user.first_name }}">
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Прізвище</span>
                                </div>
                                <input class="form-control" type="text" name="editFirstName" placeholder="Прізвище" maxlength="40" value="{{ user.last_name }}">
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Email</span>
                                </div>
                                <input class="form-control" type="text" name="editEmail" placeholder="Email" required="" maxlength="40"  value="{{ user.email }}">
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Зображення</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="form-control custom-file-input" name="editPicture" id="editPicture">
                                    <label class="custom-file-label" for="editPicture">Оберіть файл</label>
                                </div>
                            </div>
                            <button type="submit" name="edit_user" class="btn btn-outline-secondary">Зберегти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if user == request.user%}
        <div class="col-md-12 mb-4 d-flex justify-content-center align-self-center">
            <button class="align-self-center align-self-center btn btn-outline-secondary btn-circle btn-lg" data-toggle="collapse" style="box-shadow: none" data-target="#addPlaylist" aria-controls="addPlaylist" aria-expanded="false">
                <i class="material-icons md-48">playlist_add</i>
            </button>
        </div>
        {% endif %}
        <div class="col-md-12 mb-4 collapse multi-collapse" id="addPlaylist">
            <div class="d-flex justify-content-start">
                <div class="col-md-6">
                    <h3>Створення плейліста</h3>
                    <p class="text-muted">
                        - Для створення плейліста необхідно обрати для нього та обрати тип.<br>
                        - Зображення та опис є необов'язковими.<br>
                        - Публічний плейліст доступний для будь-якого авторизованого користувача.<br>
                        - Приватний плейліст доступний лише автору та користувачам з відповідними правами.<br>
                        - Права доступу до плейліста можна встановити на сторінці плейліста.<br>
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="d-flex flex-row justify-content-end align-items-start">
                        <form class="dropdown-item disabled" method="post" action="/LearnList/" enctype="multipart/form-data">{% csrf_token %}
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Назва</span>
                                </div>
                                <input class="form-control" type="text" name="addPlaylistName" placeholder="Назва плейліста" required="" maxlength="40">
                            </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Тип</span>
                                </div>
                                <select class="custom-select" name="addPlaylistType" required="">
                                    <option value="0" selected>Приватний</option>
                                    <option value="1">Публічний</option>
                                </select>
                            </div>
                             <div class="form-group input-group">
                                 <div class="input-group-prepend">
                                     <span class="input-group-text">Зображення</span>
                                 </div>
                                 <div class="custom-file">
                                     <input type="file" class="form-control custom-file-input" id="addPlaylistPicture" name="addPlaylistPicture">
                                     <label class="custom-file-label" for="addPlaylistPicture">Оберіть файл</label>
                                 </div>
                             </div>
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Опис</span>
                                </div>
                                <textarea class="form-control" name="addPlaylistDescription" placeholder="Опис плейліста" maxlength="250"></textarea>
                            </div>

                            <button type="submit" name="add_playlist" class="btn btn-outline-secondary">Створити плейліст</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-2">
            <ul class="nav nav-tabs "role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="public-tab" data-toggle="tab" href="#public" role="tab" aria-controls="public" aria-selected="true">Публічні</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="private-tab" data-toggle="tab" href="#private" role="tab" aria-controls="private" aria-selected="false">Приватні</a>
                </li>
            </ul>
        </div>

        <div class="tab-content col-md-12 px-0">
            <div class="tab-pane fade show active" id="public" role="tabpanel" aria-labelledby="public-tab">
                <div class="col-md-12 d-flex justify-content-start px-0">
                    {% if playlists %}
                    {% for playlist in playlists %}
                    <div class="col-md-6 m-0">
                        <div class="card flex-md-row mb-4 shadow-lg">
                            <div class="card-body d-flex flex-column align-items-start">
                                <small class="text-muted">{{ playlist.creation_date }}</small>
                                <h4>{{ playlist.name }}</h4>
                                <div class="mb-1 text-muted">{{ playlist.date }}</div>
                                <p class="text-muted card-text mb-auto">{{ playlist.description }}</p>
                                <div class="btn-group mt-2">
                                    <a class="btn btn-sm btn-outline-secondary" href="/LearnList/playlist/{{ playlist.id }}">Переглянути</a>
                                </div>
                            </div>

                            <div class="card-image-right flex-auto d-none d-lg-block img-fluid" >
                                <div class="side-crop rounded">
                                    <img class="img side-crop" src="{% static 'playlist/images'%}/{{ playlist.picture }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="tab-pane fade" id="private" role="tabpanel" aria-labelledby="private-tab">
                <div class="col-md-12 d-flex justify-content-start px-0">
                    {% if access_list %}
                    {% for access in access_list %}
                    <div class="col-md-6 m-0">
                        <div class="card flex-md-row mb-4 shadow-lg">
                            <div class="card-body d-flex flex-column align-items-start">
                                <small class="text-muted">{{ access.playlist.creation_date }}</small>
                                <h4>{{ access.playlist.name }}</h4>
                                <div class="mb-1 text-muted">{{ access.playlist.date }}</div>
                                <p class="text-muted card-text mb-auto">{{ access.playlist.description }}</p>
                                <div class="btn-group mt-2">
                                    <a class="btn btn-sm btn-outline-secondary" href="/LearnList/playlist/{{ access.playlist.id }}">Переглянути</a>
                                </div>
                            </div>

                            <div class="card-image-right flex-auto d-none d-lg-block img-fluid" >
                                <div class="side-crop rounded">
                                    <img class="img side-crop" src="{% static 'playlist/images'%}/{{ access.playlist.picture }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script language='javascript' type='text/javascript'>
    function check(input) {
        if (input.value != document.getElementById('newPassword').value) {
            input.setCustomValidity('Пароль повинен співпадати');
            } else {
                // input is valid -- reset the error message
                    input.setCustomValidity('');
                    }
            }
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</body>
</html>