.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    }

.alert.red {
    padding: 20px;
    background-color: #f44336;
    color: white;
    }

body {
  min-height: 100%;
  background-color: #ffffff;
  }

.box_textshadow {
     text-shadow: 2px 2px 0px #FF0000; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
     }

.btn-circle.btn-lg {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    text-align: center;
    font-size: 55px;
    line-height: 1;
    color: #5b627e;
    border: 1px solid #d2dae7;
    background-color: #d2dae7;
    }

.btn-circle.btn-lg:hover {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    text-align: center;
    font-size: 55px;
    line-height: 1;
    color: #ffffff;
    background-color: #d2dae7;
    border: 1px solid #d2dae7;
    }

.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
    line-height: 1;
    }

.btn-circle.transparent {
    background-color: transparent;
    color: #919db7;
    border: 1px solid #919db7;
}

.btn-circle {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    font-size: 24px;
    line-height: 1.42857;
    color: #919db7;
    border: 1px solid #919db7;
    background-color: transparent;
    }

.btn-circle:hover{
    color: #ffffff;
    background-color: #919db7;
    border: 1px solid #919db7;
    }

.card {
    color: #5b627e;
    background-color: #edf2f880;
}

.colored-text {
    color: #5b627e;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    }

.closebtn:hover {
    color: black;
    }

html {
  height: 100%;
  }

img.comment {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    }

.jumbotron {
    color: #5b627e;
    background-color: #d2dae7;
}

.list-group-item {
    background-color: #edf2f880;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-56 { font-size: 56px; }
.material-icons.md-64 { font-size: 64px; }

nav {
    color: #ffffff;
    background-color: #919db7;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #5b627e;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #5b627e;
}

.primary.active{
    color: #5b627e;
    background-color: #ffffff;
}

.primary {
    color: #5b627e;
    background-color: #edf2f880;
}

.primary:hover {
    color: #5b627e;
    background-color: #ffffff;
}

.primary-outline {
    color: #919db7;
    background-color: transparent;
    border: 1px solid #919db7;
}

.primary-outline:hover {
    color: #ffffff;
    background-color: #919db7;
    border: 1px solid #919db7;
}

.playlist-btn {
    background-color: #d2dae7;
    color: #5b627e;
    border: 2px solid #d2dae7;
    }

.playlist-btn:hover {
    color: #ffffff;
    }

.rounded {
    border-radius: 20px;
}

.secondary {
    color: #5b627e;
    background-color: #d2dae7;
}

.secondary:hover {
    color: #ffffff;
    background-color: #d2dae7;
}

.small-btn {
        width: 25px;
        height: 25px;
        }

.strokeme {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    }

.side-crop {
    width: 200px;
    width: 200px;
    height: 250px;
    overflow: hidden;
    position: relative;
    }

.side-crop img {
    width: 100%;
    height: 100%;
    }
